img{
    margin: 2rem;
    width: 80%;
    max-height: 200px;
}

button{
    margin-bottom: 5%;
}
.margin{
    padding: 2rem;
}

.row{
    text-align: center;
}

@media (min-width: 720px) {
    img{
        width: 100%;
    }
    p{
        text-align: center;
    }

}