.card{
    width: 20rem;

}
.card-buttons{
    margin-top:2rem;
}
.card-text{
    overflow: scroll;
    max-height: 8rem;
    overflow-x: hidden;
}
.card-img-top{
    max-width: 25rem;
    height: 20rem;
}

.fas, .far{
    font-size: 5em;
}

.btn-dark{
    margin-right: 3rem;
}
